a.level {
  color: white;
  font-family: Economica;
  font-size: 24px;
  background-color: #343947;
  cursor: pointer;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
  background-color: #262B33;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #343947;
}
